
{% extends "base.html" %}

{% block content %}
<div class="post">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' id=post.id %}">{{ post.title }}</a></h2>
                    <p calss="post-meta">
                        Time: <a class="post_author" href="#" >{{ post.date_time | date:"Y /m /d" }}</a> <a class="post-category post-category-js" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
                    </p>
            </header>
        </section>
    {% endfor %}
</div>
{% endblock %}